
	<!--custom-pop-up-->
	<div class="custom-pop-up">
		<div class="custom-pop-up-content">
			<!--custom-pop-up-content-box-->
			<div class="custom-pop-up-content-box">
				<div class="box-carcass">
					<!--box-carcass-title-->
					<div class="box-carcass-title">
						<div class="box-carcass-title-left">
							<div class="box-carcass-title-left-pad">
								Sand and Share
							</div>
						</div>
						<div class="box-carcass-title-right">
							<a href="#" class="close-custom-pop-up-window">
								<span class="icon2-close fsx1"></span>
							</a>
						</div>
					</div>
					<!--/box-carcass-title-->
					<!--drop-down-panel-->
					<div class="drop-down-panel">
						<div class="drop-down-panel-pad">
							<!--drop-down-cell-->
							<div class="drop-down-cell">
								<span class="pseudo-txt-ecll">Choos Profile</span>
								<i class="dd-arrow">.</i>
								<div class="dd-cell">
									<div class="dd-cell-height-detect">
										<ul class="dd-list">
											<li><a href="#">Profile 1</a></li>
											<li><a href="#">Profile 2</a></li>
											<li><a href="#">Profile 3</a></li>
											<li><a href="#">Profile 4</a></li>
											<li><a href="#">Profile 5</a></li>
											<li><a href="#">Profile 6</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!--/drop-down-cell-->
							<div class="other-sq"></div>
							<div class="other-sq"></div>
							<div class="other-sq"></div>
							<div class="other-sq"></div>
						</div>
					</div>
					<!--/drop-down-panel-->
					<!--box-carcass-pad-->
					<div class="box-carcass-pad">
						<!--comment-two-column-->
						<div class="comment-two-column">
							<div class="comment-two-column-group">
								<div class="comment-two-column-left">
									<div class="comment-two-column-left-pad">
										<!--image-upload-cell-->
										<div class="image-upload-cell"></div>
										<!--/image-upload-cell-->
									</div>
								</div>
								<div class="comment-two-column-right">
									<div class="comment-two-column-right-pad">
										<span class="textarea-bg">
											<textarea class="comment-textarea" rows="5" cols="5" placeholder="Please enter your message or status above |"></textarea>
										</span>
										<!--setting-panel-->
										<div class="setting-panel">
											<div class="settings-button">
												<span class="setting-icon-cell">
													<span class="icon2-settings"></span>
												</span>
												<!--setting-open-close-panel-->
												<div class="setting-open-close-panel">
													<ul class="setting-icons-list">
														<li><a href="#"><span class="icon2-location"></span></a></li>
														<li><a href="#"><span class="icon2-link"></span></a></li>
														<li><a href="#"><span class="icon2-photo"></span></a></li>
														<li><a href="#"><span class="icon2-attache"></span></a></li>
													</ul>
												</div>
												<!--/setting-open-close-panel-->
											</div>
										</div>
										<!--/setting-panel-->
									</div>
								</div>
							</div>
						</div>
						<!--/comment-two-column-->
					</div>
					<!--/box-carcass-pad-->
				</div>
			</div>
			<!--/custom-pop-up-content-box-->
		</div>
		<div class="custom-pop-up-black-opacity-layer"></div>
	</div>
	<!--/custom-pop-up-->