<% extend 'admin/layout' %>
<link rel="stylesheet" type="text/css" href="/admin/js/libs/ng-slider/src/css/ng-slider.css">
<link rel="stylesheet" type="text/css" href="/admin/js/libs/isteven-angular-multiselect/angular-multi-select.css">
<!-- <link rel="stylesheet" type="text/css" href="http://davo11122.kd.io/material-master/dist/material-design.css"> -->
<link rel="stylesheet" type="text/css" href="/admin/js/libs/angular-loading-bar/src/loading-bar.css">

<link rel="stylesheet" type="text/css" href="/admin/css/main.css">
<script data-main="/admin/js/main" src="/admin/js/libs/requirejs/require.js"></script>
<div class="col-lg-12">

	<!--custom-pop-up-->
	<div class="custom-pop-up">
		<div class="custom-pop-up-content">
			<!--custom-pop-up-content-box-->
			<div class="custom-pop-up-content-box">
				<div class="box-carcass">
					<!--box-carcass-title-->
					<div class="box-carcass-title">
						<div class="box-carcass-title-left">
							<div class="box-carcass-title-left-pad">
								Sand and Share
							</div>
						</div>
						<div class="box-carcass-title-right">
							<a href="#" class="close-custom-pop-up-window">
								<span class="icon2-close fsx1"></span>
							</a>
						</div>
					</div>
					<!--/box-carcass-title-->
					<!--drop-down-panel-->
					<div class="drop-down-panel">
						<!--drop-down-cell-->
						<div class="drop-down-cell">
							<span class="pseudo-txt-ecll">Choos Profile</span>
							<i class="dd-arrow">.</i>
							<div class="dd">
							
							</div>
						</div>
						<!--/drop-down-cell-->
					</div>
					<!--/drop-down-panel-->
					<!--box-carcass-pad-->
					<div class="box-carcass-pad">
						<!--comment-two-column-->
						<div class="comment-two-column">
							<div class="comment-two-column-group">
								<div class="comment-two-column-left">
									<div class="comment-two-column-left-pad">
										<!--image-upload-cell-->
										<div class="image-upload-cell"></div>
										<!--/image-upload-cell-->
									</div>
								</div>
								<div class="comment-two-column-right">
									<div class="comment-two-column-right-pad">
										<span class="textarea-bg">
											<textarea class="comment-textarea" rows="5" cols="5"></textarea>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!--/comment-two-column-->
					</div>
					<!--/box-carcass-pad-->
				</div>
			</div>
			<!--/custom-pop-up-content-box-->
		</div>
		<div class="custom-pop-up-black-opacity-layer"></div>
	</div>
	<!--/custom-pop-up-->
    <div class="row" ng-view></div>
</div>