<% extend 'admin/layout' %>
<link rel="stylesheet" type="text/css" href="/admin/js/libs/ng-slider/src/css/ng-slider.css">
<link rel="stylesheet" type="text/css" href="/admin/js/libs/isteven-angular-multiselect/angular-multi-select.css">
<!-- <link rel="stylesheet" type="text/css" href="http://davo11122.kd.io/material-master/dist/material-design.css"> -->
<link rel="stylesheet" type="text/css" href="/admin/js/libs/angular-loading-bar/src/loading-bar.css">
<link rel="stylesheet" type="text/css" href="/admin/css/main.css">
<script data-main="/admin/js/main" src="/admin/js/libs/requirejs/require.js"></script>
<div class="col-lg-12">
    <div class="row" ng-view></div>
</div>