@font-face{ font-family:'tahoma_armenianregular';src:url('fonts/tahoma/tahomaa.eot');src:url('fonts/tahoma/tahomaa.eot?#iefix') format('embedded-opentype'), url('fonts/tahoma/tahomaa.woff') format('woff'), url('fonts/tahoma/tahomaa.ttf') format('truetype'), url('fonts/tahoma/tahomaa.svg#tahoma_armenianregular') format('svg');font-weight:normal;font-style:normal}
@font-face{ font-family:'latoblack_italic';src:url('fonts/lato/lato-blaita.eot');src:url('fonts/lato/lato-blaita.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-blaita.woff') format('woff'), url('fonts/lato/lato-blaita.ttf') format('truetype'), url('fonts/lato/lato-blaita.svg#latoblack_italic') format('svg');font-weight:normal;font-style:normal}
@font-face{ font-family:'latobold';src:url('fonts/lato/lato-bol.eot');src:url('fonts/lato/lato-bol.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-bol.woff') format('woff'), url('fonts/lato/lato-bol.ttf') format('truetype'), url('fonts/lato/lato-bol.svg#latobold') format('svg');font-weight:normal;font-style:normal}
@font-face{ font-family:'latoblack';src:url('fonts/lato/lato-bla.eot');src:url('fonts/lato/lato-bla.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-bla.woff') format('woff'), url('fonts/lato/lato-bla.ttf') format('truetype'), url('fonts/lato/lato-bla.svg#latoblack') format('svg');font-weight:normal;font-style:normal}
@font-face{ font-family:'latobold_italic';src:url('fonts/lato/lato-bolita.eot');src:url('fonts/lato/lato-bolita.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-bolita.woff') format('woff'), url('fonts/lato/lato-bolita.ttf') format('truetype'), url('fonts/lato/lato-bolita.svg#latobold_italic') format('svg');font-weight:normal;font-style:normal}
@font-face{ font-family:'latohairline_italic';src:url('fonts/lato/lato-haiita.eot');src:url('fonts/lato/lato-haiita.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-haiita.woff') format('woff'), url('fonts/lato/lato-haiita.ttf') format('truetype'), url('fonts/lato/lato-haiita.svg#latohairline_italic') format('svg');font-weight:normal;font-style:normal}
@font-face{ font-family:'latohairline';src:url('fonts/lato/lato-hai.eot');src:url('fonts/lato/lato-hai.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-hai.woff') format('woff'), url('fonts/lato/lato-hai.ttf') format('truetype'), url('fonts/lato/lato-hai.svg#latohairline') format('svg');font-weight:normal;font-style:normal}
@font-face{ font-family:'latoregular';src:url('fonts/lato/lato-reg.eot');src:url('fonts/lato/lato-reg.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-reg.woff') format('woff'), url('fonts/lato/lato-reg.ttf') format('truetype'), url('fonts/lato/lato-reg.svg#latoregular') format('svg');font-weight:normal;font-style:normal}
@font-face{ font-family:'latolight';src:url('fonts/lato/lato-lig.eot');src:url('fonts/lato/lato-lig.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-lig.woff') format('woff'), url('fonts/lato/lato-lig.ttf') format('truetype'), url('fonts/lato/lato-lig.svg#latolight') format('svg');font-weight:normal;font-style:normal}
@font-face{ font-family:'latolight_italic';src:url('fonts/lato/lato-ligita.eot');src:url('fonts/lato/lato-ligita.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-ligita.woff') format('woff'), url('fonts/lato/lato-ligita.ttf') format('truetype'), url('fonts/lato/lato-ligita.svg#latolight_italic') format('svg');font-weight:normal;font-style:normal}
@font-face{ font-family:'latoitalic';src:url('fonts/lato/lato-regita.eot');src:url('fonts/lato/lato-regita.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-regita.woff') format('woff'), url('fonts/lato/lato-regita.ttf') format('truetype'), url('fonts/lato/lato-regita.svg#latoitalic') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'icomoon';src:url('fonts/icomoon/icomoon.eot?dl7gj1');src:url('fonts/icomoon/icomoon.eot?#iefixdl7gj1') format('embedded-opentype'),url('fonts/icomoon/icomoon.woff?dl7gj1') format('woff'),url('fonts/icomoon/icomoon.ttf?dl7gj1') format('truetype'),url('fonts/icomoon/icomoon.svg?dl7gj1#icomoon') format('svg');font-weight:normal;font-style:normal}

.network-icons-pane{overflow:hidden}
.panel-streams .panel-heading{text-transform:capitalize}
.share-input-box{margin-top:7px}.btn-file{position:relative;overflow:hidden}
.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:999px;text-align:right;filter:alpha(opacity=0);opacity:0;outline:none;background:#fff;cursor:inherit;display:block}
.uploading-images .img{position:relative}
.uploading-images .close{position:absolute;top:0;left:0}
.close{top:2px;right:5px;z-index:100}
.portlet.google-plus{border:1px solid #dd4c3a;background-color:#dd4c3a}
.portlet.google-plus .portlet-title{text-transform:capitalize}
.portlet.linkedin{border:1px solid #007bb6;background-color:#007bb6}
.portlet.linkedin .portlet-title{text-transform:capitalize}
.portlet.twitter{border:1px solid #55acee;background-color:#55acee}
.portlet.twitter .portlet-title{text-transform:capitalize}
.portlet.facebook{border:1px solid #3b5998;background-color:#3b5998}
.portlet.facebook .portlet-title{text-transform:capitalize}
.portlet.facebook .portlet{background-color:#bfcad1}
.portlet.facebook .portlet .portlet-title{text-transform:capitalize}
.portlet.facebook .portlet .btn-readmore{visibility:hidden}
.portlet.facebook .portlet:hover{}
.portlet.facebook .portlet:hover .portlet-title{text-transform:capitalize}
.portlet.facebook .portlet:hover .btn-readmore{visibility:visible}
.portlet.facebook .portlet .portlet-title{padding-top:4px;padding-bottom:4px}
.portlet.facebook .portlet .portlet-title a{color:#fff;font-size:14px;text-decoration:none}
.portlet.facebook .portlet .portlet-title .from-now{color:#fff;text-transform:none;margin-top:1px}
.grid-controller{margin:-9px -11px -2px inherit;background:#bfcad1;padding:7px 14px 3px}
.grid-controller .el-grid-icon{font-size:20px;color:#fff}
.tool{background-color:#f7f7f7;margin:-9px 0 -2px inherit}
.tool a.btn{padding:9px 10px 5px}
.tool a.btn i{color:#32323a;font-size:16}
#loading-bar-spinner .spinner-icon{border-radius:10px !important}
.sample-show-hide{-webkit-transition:all linear .5s;transition:all linear .5s}
.sample-show-hide.ng-hide{opacity:0}
.post-two-column-group,.post-two-column,.post-two-column-left,.post-two-column-right{min-height:90px;height:auto!important;height:90px}
.box-carcass-title:after,.post-two-column-right-pad:after,.post-two-column-group:after,.post-two-column:after{content:"";display:block;clear:both;font-size:0;text-decoration:none;visibility:hidden;text-indent:-999999px}
.post-two-column{width:100%;clear:both}
.post-two-column-left{width:180px;float:left}
.post-two-column-right{width:100%;float:left;margin-right:-100%}
.post-two-column-group{clear:both;width:100%;overflow:hidden}
.post-two-column-right-pad{clear:both;padding-right:190px}
.post-two-column-left img{display:block!important;width:80%!important;height:auto!important}
.btn-el{background-color: #1fb5ad}
.pop-up-content-carcass{clear:both;width:53.854166666666666666666666666667%;height:}
.custom-pop-up{z-index:10000;overflow:hidden}
.custom-pop-up,.custom-pop-up-content,.custom-pop-up-black-opacity-layer{width:100%;height:100%;position:fixed;left:0;top:0}
.custom-pop-up-black-opacity-layer{background:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7}
.custom-pop-up-content{z-index:10}
.custom-pop-up-black-opacity-layer{z-index:5}
.custom-pop-up-content-box{position:absolute;width:53.854166666666666666666666666667%;min-width:600px;top:100px;left:50%;margin-left:-27%;height:auto}
.box-carcass{width:100%;min-height:500px;height:auto!important;height:500px;background:#fff}
.box-carcass-title{clear:both;background:#bfbfbf}
.box-carcass-title,.box-carcass-title-left,.box-carcass-title-right{min-height:65px;height:auto!important;height:65px;position:relative;top:0;left:0}
.box-carcass-title-left{width:70%;float:left}
.box-carcass-title-right{width:29%;float:right}
.box-carcass-title-left-pad{padding:5px 25px;celar:both;color:#fff;font-size:36px;font-family:latohairline,sans-serif}
.item.item-body{font-family:tahoma_armenianregular,sans-serif}
.close-custom-pop-up-window{display:block;width:65px;height:65px;background:#1fb5ad}
[class^="icon2-"],[class*=" icon2-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon2-close:before{content:"\e600"}
.icon2-link:before{content:"\e601"}
.icon2-location:before{content:"\e602"}
.icon2-photo:before{content:"\e603"}
.icon2-settings:before{content:"\e604"}
.fsx1{font-size:36px;color:#fff}
