<div class="modal fade" tabindex="-1" role="dialog" data-show="{{isShown}}" data-backdrop="static" aria-labelledby="readmore" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Header
            </div>
            <div class="modal-body">
                An' awesome content
            </div> 
            <div class="modal-footer">
                foter also can be awesome, sometimes
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>