<div class="portlet box">
    <div class="portlet-title">
        <a href="https://www.facebook.com/profile.php?id={{item.from.id}}" target="_blank">
            <stront class="primary-font">
                {{item.from.name}}
            </stront>
        </a> 
        <small class="text-muted pull-right from-now">
            <i class="icon-clock"></i>
            <span am-time-ago="item.created_time"></span>
        </small>
    </div>
    <div class="portlet-body">
        <span class="chat-img">
            <img height="50" ng-src="https://graph.facebook.com/v2.0/{{item.from.id}}/picture" alt="{{item.from.name}}" class="img-circle">
        </span>
        <div class="chat-body clearfix">
            <div class="item item-body">

				<!--post-two-column-->
				<div class="post-two-column">
					<div class="post-two-column-group">
						<div ng-if="item.picture" class="post-two-column-left">
							<a  target="_blank" ng-href="{{item.actions[0].link}}">
								<img  ng-src="{{ item.picture }}"/>
							</a>
						</div>
						<div class="post-two-column-right">
							<div class="post-two-column-right-pad">
								<p ng-if="item.story">{{item.story}}</p>
								<p>{{item.message | words:25 }}</p>
								<div ng-if="item.to">
									 — 
									<a ng-repeat="to in item.to.data" target="_blank" ng-href="https://www.facebook.com/profile.php?id={{to.id}}">
										{{to.name}}
									</a>
						            <button type="button" class="btn btn-readmore btn-info pull-right" ng-click="readMore(item)">Read more..</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/post-two-column-->


            </div>
			<!--/item item-body-->
        </div>
    </div>
</div>