<div class="modal fade" tabindex="-1" role="dialog" data-show="{{isShown}}" data-backdrop="static" aria-labelledby="readmore" aria-hidden="true">
    <div class="modal-dialog c-size-modal-dialog-box">
        <div class="modal-content">

            <div class="modal-body">
				<fb:post ng-attr-href ng-attr-width href="https://www.facebook.com/davo11122/posts/683221885082863?access_token=CAADoyhlxTUYBANZAgR5bqVgMGBZC0ZBfE7Ykr2ecPmhxL1EYJlAci2uuZBVsWjkzVM9ES4dB5XvYZCiP05pBKsSfeQi7ehLVC4dM91t7QF0k8bMkuKEMhfeUxqelgjDqvHF0lEXZAV9XZCUQws2mTJMGULlGAG2EJeBpcZBerLhdTjLYv2nHPmmcbuBTxABo4qMskJfXmPwzUlNrA0T8vG2HCqK5FAZCvzZA4ZD"></fb:post>
            </div> 
            <div class="modal-footer">
                foter also can be awesome, sometimes
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>