<div ng-controller="FacebookNetworksController" class="portlet box facebook" 
            ng-init="refresh()">
    <div class="portlet-title">
        <i class="fa fa-{{network.type}} fa-fw"></i>
        {{network.type}} 
        <div class="btn-group pull-right">
            <a class="btn btn-md grid-controller" ng-click="showTools()">
                <i class="icon-settings el-grid-icon"></i>
            </a>
        </div>
        <div class="tool pull-right btn-group check-element sample-show-hide" ng-show="isToolsShown">
            <a  class="btn" ng-click="refresh()">
                <i class="icon-refresh"></i>
            </a>
            <a class="btn">
                <i class="icon-eye"></i>
            </a>
            <a class="btn" ng-click="close($index)">
                <i class="icon-close"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div ng-repeat="item in network.items" el-facebook-article>
        </div>
        <em ng-if="!network.items.length" class="italic">Loading ...</em>
    </div>
</div>