<div class="portlet box">
    <div class="portlet-title">
        <a href="https://www.facebook.com/profile.php?id={{item.from.id}}" target="_blank">
            <stront class="primary-font">
                <span ng-if="!item.story">
                	{{item.from.name}}
            	</span> 
            	<span ng-if="item.story"> 
            		{{item | fbStoryAsTitle}} 
				</span>
            </stront>
        </a> 
        <small class="text-muted pull-right from-now">
	        <img ng-if="item.icon" ng-src="{{ item.icon }}"/>
      	    <i ng-if="!item.icon" class="icon-clock"></i>
            <span am-time-ago="item.created_time"></span>
        </small>
    </div>
    <div class="portlet-body">
        <span class="chat-img">
             <div class="profile"><a ng-href="http://www.facebook.com/profile.php?id={{ item.from.id }}"><img ng-src="http://graph.facebook.com/{{ item.from.id }}/picture"/></a></div>        
        </span>
        <div class="chat-body clearfix">
            <div class="item item-body">

				<!--post-two-column-->
				<div class="post-two-column">
					<div class="post-two-column-group">
						<div ng-if="item.picture" class="post-two-column-left">
							<a  target="_blank" ng-href="{{item.actions[0].link}}">
								<img  ng-src="{{ item.picture }}"/>
							</a>
						</div>
						<div class="post-two-column-right">
							<div class="post-two-column-right-pad">
								<div ng-bind-html="item.message | words:25 | linkify"></div>
								<div ng-if="item.caption || item.picture">
									<div ng-if="item.name"><a ng-href="{{item.link}}">{{item.name}}</a></div>
									<div ng-if="item.caption">{{item.caption}}</div>
									<div ng-if="item.description">{{item.description}}</div>
								</div>


								<div ng-if="item.to">
									 — 
									<a ng-repeat="to in item.to.data" target="_blank" ng-href="https://www.facebook.com/profile.php?id={{to.id}}">
										{{to.name}}
									</a>
								</div>
					            <button type="button" class="btn btn-readmore btn-info pull-right" ng-click="readMore(item)">Read more..</button>
							</div>
						</div>
					</div>
				</div>
				<!--/post-two-column-->


            </div>
			<!--/item item-body-->
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
	deltaHeight=$(window).height()-161-64;
	$(".f-scroll").css({height:deltaHeight,overflow:"hidden"});


    $(".f-scroll").niceScroll({
					touchbehavior:true,
					cursorcolor:"#484848",
					cursoropacitymax:0.9,
					cursorwidth:10,
					cursorborder:"0px solid #4d1b07",
					cursorborderradius:"8px",
					background:"#e8e8e8",
					scrollspeed:100,
					mousescrollstep:60,
					autohidemode:false
					});

});




</script>