<div ng-controller="GooglePlusNetworksController" class="panel panel-primary " 
            ng-init="refresh()">
    <div class="panel-heading">
        <i class="fa fa-{{network.type}} fa-fw"></i>
        {{network.type}}
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-chevron-down"></i>
            </button>
            <ul class="dropdown-menu slidedown">
                <li>
                    <a ng-click="refresh()">
                        <i class="fa fa-refresh fa-fw"></i> Refresh
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-filter fa-fw"></i> Filter
                    </a>
                </li>
                <li>
                    <a ng-click="close($index)">
                        <i class="fa fa-times fa-fw"></i> Close
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <span class="chat-img" ng-if="network.items.length">
            <img height="50" ng-src="{{network.items[0].actor.image.url}}" alt="{{network.items[0].actor.displayName}}" class="img-circle">
        </span>
        <strong class="primary-font">
            {{network.items[0].actor.displayName}}
        </strong>
        <div class="clearfix"></div>
        <hr>
        <ul class="chat" ng-if="network.items.length">
            <li ng-repeat="item in network.items" class="clearfix">
                <div class="chat-body clearfix">
                    <small class="pull-right text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> <span am-time-ago="item.updated"></span>
                    </small>
                    <p>{{item.title}}</p>
                    <div class="clearfix"></div>
                    <div ng-repeat="attach in item.object.attachments" class="item item-body">
                        <a target="_blank"ng-href="{{attach.url}}">{{attach.objectType}}</a>
                        
                        <img ng-if="attach.image" ng-src="{{ attach.image.url}}" height="60" class="pull-right"/>
                    </div>
                </div>
            </li>
        </ul>
        <em ng-if="!network.items.length" class="italic">Loading ...</em>
    </div>
</div>