<div ng-controller="GooglePlusNetworksController" class="portlet box google-plus" 
            ng-init="refresh()">
    <div class="portlet-title">
        <i class="fa fa-{{network.type}} fa-fw"></i>
        {{network.type}}
        <div class="btn-group pull-right">
            <a class="btn btn-md grid-controller" ng-click="showTools()">
                <i class="icon-settings el-grid-icon"></i>
            </a>
        </div>
        <div class="tool pull-right btn-group check-element sample-show-hide" ng-show="isToolsShown">
            <a  class="btn" ng-click="refresh()">
                <i class="icon-refresh"></i>
            </a>
            <a class="btn">
                <i class="icon-eye"></i>
            </a>
            <a class="btn" ng-click="close($index)">
                <i class="icon-close"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <span class="chat-img" ng-if="network.items.length">
            <img height="50" ng-src="{{network.items[0].actor.image.url}}" alt="{{network.items[0].actor.displayName}}" class="img-circle">
        </span>
        <strong class="primary-font">
            {{network.items[0].actor.displayName}}
        </strong>
        <ul class="chat repeated-item" ng-if="network.items.length">
            <li ng-repeat="item in network.items" class="clearfix">
                <div class="chat-body clearfix">
                    <small class="pull-right text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> <span am-time-ago="item.updated"></span>
                    </small>
                    <p>{{item.title}}</p>
                    <div class="clearfix"></div>
                    <div ng-repeat="attach in item.object.attachments" class="item item-body">
                        <a target="_blank"ng-href="{{attach.url}}">{{attach.objectType}}</a>
                        <img ng-if="attach.image" ng-src="{{ attach.image.url}}" height="60" class="pull-right"/>
                    </div>
                </div>
            </li>
        </ul>
        <em ng-if="!network.items.length" class="italic">Loading ...</em>
    </div>
</div>