<div ng-controller="TwitterNetworksController" class="portlet box twitter" 
            ng-init="refresh()">
    <div class="portlet-title">
        <i class="fa fa-{{network.type}} fa-fw"></i>
        {{network.type}}
        <div class="btn-group pull-right">
            <a class="btn btn-md grid-controller" ng-click="showTools()">
                <i class="icon-settings el-grid-icon"></i>
            </a>
        </div>
        <div class="tool pull-right btn-group check-element sample-show-hide" ng-show="isToolsShown">
            <a  class="btn" ng-click="refresh()">
                <i class="icon-refresh"></i>
            </a>
            <a class="btn">
                <i class="icon-eye"></i>
            </a>
            <a class="btn" ng-click="close($index)">
                <i class="icon-close"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <ul class="chat" ng-if="network.items.length">
            <li ng-repeat="item in network.items" class="clearfix" ng-class='{left:$even,right:$odd}'>
                <span class="chat-img pull-{{$even?'left':'right'}}">
                    <img height="50" ng-src="{{item.updateContent.person.pictureUrl}}" alt="{{item.updateContent.person.firstName}}" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header" ng-if="$even">
                        <strong class="primary-font">
                            {{item.updateContent.person.firstName}}
                        </strong> 
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> <span am-time-ago="item.timestamp"></span>
                        </small>
                    </div>
                    <div class="header" ng-if="$odd">
                        <small class="text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> <span am-time-ago="item.timestamp"></span>
                        </small>
                        <strong class="pull-right primary-font">
                            {{item.updateContent.person.firstName}}
                        </strong> 
                    </div>
                    <p>
                        {{item.updateContent.person.headline}}
                    </p>
                </div>
            </li>
        </ul>
        <em ng-if="!network.items.length" class="italic">Loading ...</em>
    </div>
</div>