<div class="well well-sm row">
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
		<button data-target="#sendAndShare" data-toggle="modal" class="btn btn-primary btn-outline">
			<i class="fa fa-bullhorn"></i>
			Send and Share
		</button>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-1 ">
		<button class="btn btn-primary btn-outline">
			<i class="fa fa-refresh"></i>
		</button>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-1 ">
		<button class="btn btn-primary btn-outline">
			<i class="fa fa-clock-o"></i>
		</button>
	</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <input ng-model="grid" type="text" id="gridslider" el-grid-slider slider  options="gridOptions" />
    </div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
	    <li class="dropdown btn btn-block btn-outline btn-primary  ">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Add Network  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a ng-click="create('facebook')">
                                <div>
                                    <i class="fa fa-facebook fa-fw"></i> Facebook
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="create('twitter')">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> Twitter
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="create('linkedin')">
                                <div>
                                    <i class="fa fa-linkedin fa-fw"></i> Linkedin
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="create('google-plus')">
                                <div>
                                    <i class="fa fa-google-plus fa-fw"></i> Google+
                                </div>
                            </a>
                        </li>
                    </ul>
                    
                </li>
	</div>
	<div ng-if="network.length" class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
		<div class="panel row panel-primary network-icons-pane">
            <button  ng-class="{'pull-left':$last}" ng-repeat="network in networks" type="button" class="btn btn-{{network.type}} btn-default"><i class="fa fa-{{network.type}}"></i></button>
        </div>
	</div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <li class="dropdown btn btn-block btn-outline btn-primary">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus"></i>
                        Add a Stream 
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-google-plu fa-fw"></i> Item+
                                </div>
                            </a>
                        </li>
                    </ul>
                    
                </li>
    </div>
</div>

<div class="row panel-streams">
    <div class="list-inline">
        <div  
            ng-repeat="network in networks"  
            el-networker="{{network.type}}"
            class=" stream 
                    col-xs-{{grid | grider}}   
                    col-sm-{{grid | grider}} 
                    col-md-{{grid | grider}} 
                    col-lg-{{grid | grider}}">
        </div>
    </div>
</div>
<div class="modal fade" id="sendAndShare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="SendAndShareController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Share to.</h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <multi-select class="input-xlarge"
                        output-model="sentTo"
                        button-label="type"
                        input-model="providers"
                        helper-elements="none"
                        item-label="type"
                        tick-property="isOn"></multi-select>
                    <i class="fa fa-{{network.type}} fa-fw" ng-repeat="network in sentTo"></i>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <textarea class="form-control" ng-model="message" rows="3"></textarea>
                    <p class="help-block">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 label label-danger" ng-if="twitterCounter<0">
                            {{twitterCounter}} <i class="fa fa-twitter fa-fw" ></i>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 label label-danger" ng-if="linkedinCounter<0">
                            {{linkedinCounter}} <i class="fa fa-linkedin fa-fw" ></i>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 label label-danger" ng-if="facebookCounter<0">
                            {{facebookCounter}} <i class="fa fa-facebook fa-fw" ></i>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 label label-danger" ng-if="googlePlusCounter<0">
                            {{googlePlusCounter}} <i class="fa fa-google-plus fa-fw" ></i>
                        </div>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button type="button" data-target="#macros" data-toggle="modal"  class="btn btn-default">Macros</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="macros" tabindex="-1" role="dialog" aria-labelledby="macros" aria-hidden="true" ng-controller="MacrosController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Macros</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a ng-click="useMacro(macro.id)" ng-repeat="macro in macros" class="list-group-item">
                        <button type="button" class="btn btn-danger"><i class="fa fa-ban"></i></button>
                        {{macro.content}}
                    </a>
                </div>  
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
